# Visual Studio Code ayarları (GitHub'a gitmesine gerek yok)
.vscode/

# İşletim sistemi kalıntıları
.DS_Store
Thumbs.db

# İleride öğreneceğin paket sistemleri için (Şimdiden alışkanlık olsun)
node_modules/
dist/
build/

# Log dosyaları
*.log
